/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	scroll-behavior: smooth;

	--color-primary: 4 74% 57%; /* #e24c41 */
	--color-background: 0 0% 100%;
	--color-neutral: 222 47% 11%;
}

:root.dark {
	--color-primary: 263 70% 50%;
	--color-background: 222 47% 11%;
	--color-neutral: 214 32% 91%;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: Atkinson;
	color: hsl(var(--color-neutral));
	background-color: hsl(var(--color-background));
}
