---
const today = new Date()
---

<footer class="py-4 mt-16 bg-gray-900 text-white">
	<p class="text-center">
		&copy; {today.getFullYear()} CookingARecipe.
	</p>
	<div class="sr-only">
		<a href="https://www.facebook.com/cookingarecipee33/">Facebook</a>
		<a href="https://twitter.com/cookingarecipee33">Twitter</a>
		<a href="https://pinterest.com/cookingarecipee33">Pinterest</a>
		<a href="https://www.youtube.com/user/cookingarecipee33">YouTube</a>
		<a href="https://www.instagram.com/cookingarecipee33/">Instagram</a>
	</div>
</footer>
