---
import HeaderLink from "./HeaderLink.astro"
import ModeSwitcherButton from "./mode-switcher-button.svelte"
import { SITE_TITLE } from "../consts"
---

<header class="p-4">
	<nav class="flex items-center justify-between">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex items-center space-x-4"></div>
		<div class="flex items-center">
			<ModeSwitcherButton client:load="svelte" />
		</div>
	</nav>
</header>
