---
import ModeSwitcherButton from "./mode-switcher-button.svelte"
import { Image } from "astro:assets"
---

<header class="p-4">
	<nav class="flex items-center justify-between">
		<a href="/" class="flex items-center justify-between">
			<span class="dark:bg-white p-2 rounded-xl">
				<Image src="/logo.png" alt="Cooking A Recipe" width="60" height="60" class="" />
			</span>
			<div class="ml-2 font-semibold hidden md:block">Cooking<span class="text-primary">A</span>Recipe</div>
		</a>

		<div class="flex items-center space-x-4"></div>
		<div class="flex items-center">
			<ModeSwitcherButton client:load />
		</div>
	</nav>
</header>
